.community-setup-wrapper {
    padding: 0px 24px;
    text-align: left;
}

h1 {
    color: #0D062D;
    font-size: 34px;
    margin-bottom: 14px;
}

p {
    color: #787486;
    font-size: 16px;
}

.settings-panel-wrapper {
    display: flex;
}