
.settings-panel {
    flex-grow: 1;
    padding: 16px;
    margin: 20px 20px 32px 20px;
    background: #f5f5f5;
    border-radius: 30px;
    text-align: left;
    max-width: 290px;
}

.settings-panel b {
    font-size: 14px;
}
.settings-panel p {
    font-size: 14px;
    color:  #787486;
}

button {
    transition: all 0.2s ease;
    padding: 12px;
    cursor: pointer;
    background: white;
    border: none;
}

.line-break-purple {
    border-bottom: 2px solid #5030e5;
}

.line-break-orange {
    border-bottom: 2px solid #FFA500;
}

.line-break-green {
    border-bottom: 2px solid #8BC48A;
}

.bullet-title-wrapper {
    position: relative;
}

.bullet-title {

    padding: 0px 0 12px 16px;
}

.bullet-purple {
    position: relative;
    height: 6px;
    width: 6px;
    border-radius: 5px;
    top: 12px;
    background: #5030e5;
}

.bullet-orange {
    position: relative;
    height: 6px;
    width: 6px;
    border-radius: 5px;
    top: 12px;
    background: #FFA500;
}

.bullet-green {
    position: relative;
    height: 6px;
    width: 6px;
    border-radius: 5px;
    top: 12px;
    background: #8BC48A;
}

h2 {
    font-size: 16px;
}